.homeNav a {
  display: block;
  text-align: center;
  padding: 5rem 0;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 4px;
}

.homeNav a:hover {
  border-color: #0275d8;
}

.homeNav .disabledLink {
  color: gray;
}
